header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.row {
  display: flex;
  justify-content: flex;
  background-image: "sepptelefoniga.png";
  background-repeat: no-repeat;
  background-size: cover;
}

.col-md-6 {
  position: fixed;
}

.sepptelefoniga {
  position: absolute;
  top: 22%;
  right: 10%;
}

.map {
  height: 400px;
  width: 65%;
  margin-left: 18%;
  top: -225.5px;
  position: relative;
  z-index: 0;
}

.sepikojadnupud {
  color: #212529;
  margin-top: 30px;
  margin-left: 10px;
  width: 200px;
  position: absolute;
}

.kõiksepikojad {
  color: #212529;
  margin-top: 10px;
  margin-left: 10px;
  width: 200px;
  position: absolute;
}

.epoodimage {
  height: 300px;
  width: 300px;
}

.epoodtekst {
  margin-left: 5px;

}

.epoodname {
  text-transform: uppercase;
}

.epoodprice {
  font-weight: bold;
}

.epoodblacksmith {
  font-style: italic;

}

.kaubad {
  margin-bottom: 10px;
  width: 33.3%,

}

.lang {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.favicon {
  width: 100px;
  height: 75px;

}
.avalehtnupp {
  margin-left: 70px;
}

.meistnupp {
  margin-left: 70px;
  
}

.lang:hover {
  cursor: pointer;
}

.ostukorvnupp {
  width: 35px;
  height: 35px;
  margin-left: 90px;
  
}
