.nupuke{background-color: green;
color: rgb(211, 211, 211);
}
.nupuke:hover {height: 100px;}
.nupuke:active {cursor: grab;}
.tekst{color: blue;
font-style: italic;}
.tekst:hover {font-size: 24px;}
.pilt{height: 200px;width: 200px;;}
body{background-color: beige;}
