.pilt {width: 150px;}
.pilt:hover {
  opacity: 0,7;
}
.nupp {
  border: 2px double brown;
}
.nupp:hover {
  font-weight: bold;
  cursor: pointer;
}

.kollane{
color: rgb(112, 112, 12)
}

.roheline{
color:green
}

.aktiivne-keel{
text-decoration: underline;
background-color: aquamarine;
}

.dark-mode{
background-color: black;
height:  100vh;
color: white;
}

.light-mode{
background-color: blanchedalmond;
height: 100vh;

}
.dark-mode button {
  border:  2px solid green;
}
.aktiivne-toode {
  border: 1px solid green;
  background-color: rgb(158, 198, 158);
}
.mitteaktiivne-toode {
  border:1px solid red;
  background-color: rgb(233, 160, 160);
}