.pilt {width: 150px;}
.pilt:hover {
  opacity: 0,7;
}
.nupp {
  border: 2px double brown;
}
.nupp:hover {
  font-weight: bold;
  cursor: pointer;
}

.kollane{
color: rgb(112, 112, 12)
}

.roheline{
color:green
}

.aktiivne-keel{
text-decoration: underline;
background-color: aquamarine;
}